In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

import pickle

In [3]:
obesity_data = pd.read_csv(r"../data/model_training_data.csv")

In [ ]:
obesity_data = obesity_data.drop('Unnamed: 0',axis=1)

In [9]:
obesity_data

       Gender        Age    Height      Weight  ...  SCC       FAF  CALC  NObeyesdad
0           1  24.443011  1.699998   81.669950  ...    0  0.000000     1           6
1           0  18.000000  1.560000   57.000000  ...    0  1.000000     2           1
2           0  18.000000  1.711460   50.165754  ...    0  0.866045     2           0
3           0  20.952737  1.710730  131.274851  ...    0  1.467863     1           4
4           1  31.641081  1.914186   93.798055  ...    0  1.967973     1           6
...       ...        ...       ...         ...  ...  ...       ...   ...         ...
20753       1  25.137087  1.766626  114.187096  ...    0  1.330519     1           3
20754       1  18.000000  1.710000   50.000000  ...    0  2.000000     1           0
20755       1  20.101026  1.819557  105.580491  ...    0  1.158040     2           3
20756       1  33.852953  1.700000   83.520113  ...    0  0.000000     2           6
20757       1  26.680376  1.816547  118.134898  ...    0  0.684487     1           3

[20758 rows x 13 columns]

In [26]:
model_list = [AdaBoostClassifier(n_estimators=2), RandomForestClassifier(max_depth=3), XGBClassifier(n_estimators=2, max_depth=3, learning_rate=1, objective='binary:logistic')]

In [10]:
x = obesity_data.drop('NObeyesdad',axis=1)
y = obesity_data.NObeyesdad

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=64)

In [13]:
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(13907, 12) (6851, 12) (13907,) (6851,)

In [27]:
for model in model_list:
    model.fit(x_train, y_train)
    test_predictions = model.predict(x_test)
    acc_predictions = accuracy_score(y_test, test_predictions)
    print(acc_predictions)

C:\Users\piyus\anaconda3\Lib\site-packages\sklearn\ensemble\_weight_boosting.py:519: FutureWarning: The SAMME.R algorithm (the default) is deprecated and will be removed in 1.6. Use the SAMME algorithm to circumvent this warning.
  warnings.warn(

0.43745438622098964
0.6923076923076923
0.847759451175011